<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhex.wallet.balance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.TranscationViewActivity"/>
        <activity
            android:name=".ui.activity.DelegateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TranscationDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".ui.activity.GenerateAddressActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.activity.TransferOutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize|stateHidden"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.activity.TransferInActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.activity.GatheringActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.activity.AssetDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.activity.CoinSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTop"/>
        <activity
            android:name=".BalanceIndexActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--<activity
            android:name=".ui.activity.TxBaseActivity"
            android:screenOrientation="portrait" />-->
    </application>

</manifest>