<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhex.wallet.mnemonic">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.ExportKeyStoreActivity"></activity>
        <activity android:name=".ui.activity.ImportKeyStoreActivity" />
        <activity
            android:name=".ui.activity.ImportPrivateKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImportIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrusteeshipManagerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.TrusteeshipThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrusteeshipSecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImportMnemonicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VerifyMnemonicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MnemonicIndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrusteeshipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BackupMnemonicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrusteeshipSuccessActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>