<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhex.wallet.mnemonic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.PKeyImportActivity"></activity>
        <activity android:name=".ui.activity.ImportIndexActivity" />
        <activity
            android:name=".ui.activity.TrusteeshipManagerActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.TrusteeshipThirdActivity" />
        <activity android:name=".ui.activity.TrusteeshipSecActivity" />
        <activity android:name=".ui.activity.LockActivity" />
        <activity android:name=".ui.activity.ImportMnemonicActivity" />
        <activity android:name=".ui.activity.VerifyMnemonicActivity" />
        <activity android:name=".MnemonicIndexActivity" />
        <activity android:name=".ui.activity.TrusteeshipActivity" />
        <activity android:name=".ui.activity.BackupMnemonicActivity" />
        <activity android:name=".ui.activity.TrusteeshipSuccessActivity" />
        <activity android:name=".ui.activity.RecycleViewSwipActivity" />
    </application>

</manifest>