<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhex.wallet.bh_main">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".my.ui.activity.RateSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".my.ui.activity.UpdatePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".my.ui.activity.SettingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".my.ui.activity.LanguageSettingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".MainIndexActivity" android:screenOrientation="portrait"/>
        <activity android:name=".validator.ui.activity.ValidatorDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".validator.ui.activity.DoEntrustActivity" android:screenOrientation="portrait" />
    </application>

</manifest>